/* common styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* --------------------------
     banner styles 
-----------------------------*/
.banner-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.banner {
    background-color: #191919;
    width: 85%;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.banner-info {
    width: 40%;
    color: white;
    margin-left: 30px;
}

.banner-info h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-info p {
    font-size: 18px;
    margin-bottom: 45px;
}

.banner img {
    width: 40%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #e71919;
    padding: 15px 30px;
    border-radius: 5px;
}